
html, body {
    width: 100%;
    align-items: center;
    background: rgb(75, 175, 75);
    border: 0;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  div.container {
    align-items: center;
    background: green;
    border: 0;
    display: flex;
    font-family: Helvetica, Arial, sans-serif;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .my-notify-info, .my-notify-success, .my-notify-warning, .my-notify-error {
    padding:10px;
    margin:10px 0;
 
}

.my-notify-info a, .my-notify-success a, .my-notify-warning a, .my-notify-error a {
  color: rgb(9, 107, 107);
  font-size: 20;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.my-notify-info a:visited, .my-notify-success a:visited, .my-notify-warning a:visited, .my-notify-error a:visited {
  color: rgb(90, 35, 63);
  font-size: 20;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.my-notify-info a:hover, .my-notify-success a:hover, .my-notify-warning a:hover, .my-notify-error a:hover {
  color: rgb(16, 121, 16);
  font-size: 20;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}

.my-notify-info:before, .my-notify-success:before, .my-notify-warning:before, .my-notify-error:before {
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.my-notify-info:before {
    content:"\f05a";
}
.my-notify-success:before {
    content:'\f00c';
}
.my-notify-warning:before {
    content:'\f071';
}
.my-notify-error:before {
    content:'\f057';
}
.my-notify-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.my-notify-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.my-notify-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.my-notify-error {
    color: #D8000C;
    background-color: #FFD2D2;
}
  
  form {
    --background: white;
    --border: rgba(0, 0, 0, 0.125);
    --borderDark: rgba(0, 0, 0, 0.25);
    --borderDarker: rgba(0, 0, 0, 0.5);
    --bgColorH: 0;
    --bgColorS: 0%;
    --bgColorL: 98%;
    --fgColorH: 210;
    --fgColorS: 50%;
    --fgColorL: 38%;
    --shadeDark: 0.3;
    --shadeLight: 0.7;
    --shadeNormal: 0.5;
    --borderRadius: 0.125rem;
    --highlight: #306090;
    background: white;
    border: 1px solid var(--border);
    border-radius: var(--borderRadius);
    box-shadow: 0 1rem 1rem -0.75rem var(--border);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    overflow: hidden;
  }
  
  form .email, form .email a {
    color: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
    font-size: 0.825rem;
    order: 4;
    text-align: center;
    
    outline: 1px dashed transparent;
    outline-offset: 2px;
    display: inline;
  }
  
  form a:hover {
    color: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
    transition: color 0.25s;
  }
  
  form a:focus {
    color: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
    outline: 1px dashed hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
    outline-offset: 2px;
  }
  
  form > div {
    order: 2;
  }
  
  label {
    display: flex;
    flex-direction: column;
  }
  
  
  label > span {
    color: var(--borderDarker);
    display: block;
    font-size: 0.825rem;
    margin-top: 0.625rem;
    order: 1;
    transition: all 0.25s;
  }
  
  label > span.required::after {
    content: "*";
    color: #dd6666;
    margin-left: 0.125rem;
  }
  
  label input {
    order: 2;
    outline: none;
  }
  
  label input::placeholder {
    color: var(--borderDark);
  }

  
  label:hover span {
    color: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
  }
  
  input[type="checkbox"] + div label:hover span::before,
  label:hover input.text {
    border-color: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
  }
  
  label input.text:focus,
  label input.text:active {
    border-color:  hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
    box-shadow: 0 1px  hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
  }
  
  input.text:focus + span,
  input.text:active + span {
    color:  hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
  }
  
  input {
    border: 1px solid var(--border);
    border-radius: var(--borderRadius);
    box-sizing: border-box;
    font-size: 1rem;
    height: 2.25rem;
    line-height: 1.25rem;
    margin-top: 0.25rem;
    order: 2;
    padding: 0.25rem 0.5rem;
    width: 15rem;
    transition: all 0.25s;
  }
  
  input[type="submit"] {
    color: hsl(var(--bgColorH), var(--bgColorS), var(--bgColorL));
    background: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 0.625rem;
    order: 4;
    outline: 1px dashed transparent;
    outline-offset: 2px;
    padding-left: 0;
    text-transform: uppercase;
  }
 
  input[type="submit"]:focus {
    outline: 1px dashed hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
    outline-offset: 2px;
  }
  
  input[type="submit"]:focus {
    background: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
  }
  
  input[type="submit"]:hover {
    background: hsl(var(--fgColorH), var(--fgColorS), calc(var(--fgColorL) * 0.85));
  }
  
  input[type="submit"]:active {
    background: hsl(var(--fgColorH), calc(var(--fgColorS) * 2), calc(var(--fgColorL) * 1.15));
    transition: all 0.125s;
  }
  
  /** Checkbox styling */
  .a11y-hidden {
    position: absolute;
    top: -1000em;
    left: -1000em;
  }
  
  /** PERSON */
  figure {
    --skinH: 30;
    --skinS: 100%;
    --skinL: 87%;
    --hair: rgb(180,70,60);
    background: hsl(var(--fgColorH), calc(var(--fgColorS) * 2), 95%);
    border: 1px solid rgba(0,0,0,0.0625);
    border-radius: 50%;
    height: 0;
    margin: auto auto;
    margin-bottom: 2rem;
    order: 1;
    padding-top: 60%;
    position: relative;
    width: 60%;
    overflow: hidden;
  }
  
  figure div {
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  figure .skin {
    background: hsl(var(--skinH), var(--skinS), var(--skinL));
    box-shadow: inset 0 0 3rem hsl(var(--skinH), var(--skinS), calc(var(--skinL) * 0.95));
  }
  
  figure .head {
    top: 40%;
    left: 50%;
    width: 60%;
    height: 60%;
    border-radius: 100%;
    box-shadow: 0 -0.175rem 0 0.125rem var(--hair);
  }
  
  figure  .ears {
    top: 47%;
    left: 50%;
    white-space: nowrap;
  }
  
  figure .ears::before,
  figure .ears::after {
    content: "";
    background: hsl(var(--skinH), var(--skinS), var(--skinL));
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin: 0 2.1rem;
  }
  
  figure .head .eyes {
    top: 55%;
    left: 50%;
    white-space: nowrap;
  }
  
  @-webkit-keyframes blink {
    0%, 90%, 100% {
      height: 10px;
    }
    95% {
      height: 0;
    }
  }
  
  @keyframes blink {
    0%, 90%, 100% {
      height: 10px;
    }
    95% {
      height: 0px;
    }
  }
  
  figure .head .eyes::before,
  figure .head .eyes::after {
    content: "";
    background: var(--borderDarker);
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 0.5rem;
    -webkit-animation: blink 5s infinite;
    animation: blink 5s infinite;
    transition: all 0.15s;
  }

  
  figure .head .mouth {
    border: 0.125rem solid transparent;
    border-bottom: 0.125rem solid var(--borderDarker);
    width: 25%;
    border-radius: 50%;
    transition: all 0.5s
  }
  
  form:invalid figure .head .mouth {
    top: 75%;
    left: 50%;
    height: 10%;
  }
  
  form:valid figure .head .mouth {
    top: 60%;
    left: 50%;
    width: 40%;
    height: 40%;
  }
  
  figure .hair {
    top: 40%;
    left: 50%;
    width: 66.66%;
    height: 66.66%;
    border-radius: 100%;
    overflow: hidden;
  }
  
  figure .hair::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--hair);
    border-radius: 50%;
    top: -60%;
    left: -50%;
    box-shadow: 4rem 0 var(--hair);
  }
  
  figure .neck {
    width: 10%;
    height: 40%;
    top: 62%;
    left: 50%;
    background: hsl(var(--skinH), var(--skinS), calc(var(--skinL) * 0.94));
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 0.25rem var(--border);
  }
  
  figure .person-body {
    width: 60%;
    height: 100%;
    border-radius: 50%;
    background: red;
    left: 50%;
    top: 126%;
    background: hsl(var(--fgColorH), var(--fgColorS), var(--fgColorL));
  }
  
  figure .shirt-1,
  figure .shirt-2 {
    width: 12%;
    height: 7%;
    background: hsl(var(--bgColorH), var(--bgColorS), var(--bgColorL));
    top: 76%;
    left: 36.5%;
    transform: skew(-10deg) rotate(15deg)
  }
  
  figure .shirt-2 {
    left: 52.5%;
    transform: skew(10deg) rotate(-15deg)
  }
  
  
  input[type=radio] {
  display: none;
  }

  label.radio {
  position: relative;
  display: inline-block;
  margin: 5px 20px 15px 0;
  cursor: pointer;
  }

  .question-answer span{
    margin-left: 30px;
    }

  .question-answer label {
  display: block;
  }

  label.radio:before {
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #ccc;
  }

  input[type=radio]:checked + label:before, label.radio:hover:before {
  border: 2px solid #cc7a00;
  }

  label.radio:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 8px;
  height: 4px;
  border: 3px solid #cc7a00;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
  }

  input[type=radio]:checked + label:after {
  opacity: 1;
  }

  @media screen and (max-width: 700px) {
    
    .fa {position: relative;}
  }

  .fa {
    padding: 5px;
    font-size: 10px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    height: 15px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  #footer {
    display: flex; 
    justify-content: center; 
    background-color: #333;
    padding: 10px;
    padding-left: 20px;
  }
  
  @media screen and (max-width: 700px) {
    #footer div {position: relative;}
    #footer #logo , #footer #address {
      display: none;
    }
    #footer h2 {
      font-size: 17px;
    }
    #footer p {
      font-size: 14px;
    }
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 9px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: fit-content;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: #555;
    color: white;
    
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  @media screen and (max-width: 700px) {
    .topnav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .topnav #icon {
      display: none;
    }
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 700px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive .dropdown {float: none;}
    .topnav.responsive .dropdown-content {position: relative;}
    .topnav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }

  #signUp {
    float: right;
  }
  
  #icon {
    float: right;
    margin-right: 10px;
  }
  .aboutUs {
    color: lightgrey;
    margin-right: 30px;
    margin-left: 30px;
  }
  #address {
    margin-top: 60px;
    margin-right: 20px;
  }

  .contactUs {
    color: lightgrey;
    margin-right: 30px;
    margin-left: 30px;
  }
  #logo {
    margin-top: 60px;
    margin-right: 30px;
    margin-left: 30px;
  }

  .followUs {
    color: lightgrey;
    margin-right: 30px;
    margin-left: 30px;
  }

  #team {
    background-color: yellow;
  }

  .activities {
    align-items: center;
    max-width: 2000px;
    max-height: 2000px;
  }
  .message {
    color: orange;
  }
  #internalError{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  #updateform{
    margin-top:24px;    
    }
    #updateform > div {
        margin-top: 12px;   
    }
    #updateform > input {
        width: 200px;
        padding: 3px;
        background: #F3F9DD;
    } 
    table {
      width:100%;
      margin: 10px;
    }
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 15px;
      text-align: left;
    }
    #t01 tr:nth-child(even) {
      background-color: #eee;
    }
    #t01 tr:nth-child(odd) {
     background-color: #fff;
    }
    #t01 th {
      background-color: black;
      color: white;
    }      