{% extends "master.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        <div>
            
            <img src="/images/activity-1.jpg" style="height:500px; width:500px;"><br>
            <h2>Painting</h2>
            <img src="/images/activity-2.jpg" style="height:500px; width:500px;"><br>
            <h2>Building Blocks</h2>
            <img src="/images/activity-3.png" style="height:500px; width:500px;"><br>
            <h2>Picture Day</h2>
            <img src="/images/activity-4.jpg" style="height:500px; width:500px;"><br>
            <h2>Blocks</h2>
            <img src="/images/activity-5.jpg" style="height:500px; width:500px;"><br>
            <h2>Exercise Class</h2>
            <img src="/images/activity-6.jpg" style="height:500px; width:500px;"><br>
            <h2>Card Making</h2>
            <img src="/images/activity-7.jpg" style="height:500px; width:500px;"><br>
            <h2>Activity Board</h2>
        </div>
    </div>
{% endblock %}

