{% extends "master.html.twig" %}

{% block title %}Internal error{% endblock %}

{% block content %}
    <div class="my-notify-error"><b>Internal error occured. </b><a href="/"> Click to continue</a></div>
    <div id="internalError">
        <img src="/images/internalError.png">
    </div>
{% endblock %}