{% extends "master.html.twig" %}

{% block title %}Access denied{% endblock %}

{% block content %}
    <div class="my-notify-error"><b>Access denied</b> You must be logged in to access this page.<a href="/">Click to continue</a></div>
    <div id="internalError">
        <img src="/images/AccessDeniedError.png">
    </div>
{% endblock %}