{% extends "master.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
   <div class="container">
        <h2>Latest News</h2><br>
    </div>
    <div class="container">
        <h2>Events</h2><br>
    </div>
  
{% endblock %}

