{% extends "master.html.twig" %}

{% block title %}Registration successful{% endblock %}


{% block content %}
    <div class="my-notify-success">Welcome <b>{{ ufirstName }}</b>! Your are logged in as <b>{{ urole }}</b></div>

{% endblock %}