{% extends "master.html.twig" %}

{% block title %}Logout successful{% endblock %}

{% block head %}
    <script>
    // redirect with JavaScript
    setTimeout(function () {
       window.location.href = "/"; // destination
    }, 5000); //will call the function after 5 secs.
    </script>
{% endblock %}

{% block content %}
    <div class="my-notify-success">You are Logged out successfully! </div>
{% endblock %}