<!DOCTYPE html>
<html>
    <head>        
        <link rel="stylesheet" href="/styles.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        

        <title>{% block title %}{% endblock %} - Daycare</title>
        {% block head %}{% endblock %}
    </head>

    <body>
        {% block navbar %}
            <div class="topnav" id="myTopnav">       
                    <a href="/" >Home</a>
                    <a href="/team">Our Team</a>
                    <div class="dropdown">
                        <button class="dropbtn">Services 
                        <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="/activity">Activities</a>
                            <a href="/message">Messages</a>
                        </div>
                    </div> 
                    <a href="/event">News and Events</a>
                    <div class="dropdown">
                        <button class="dropbtn">Login
                        <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="/teacher">as Teacher</a>
                            <a href="/parent">as Parent</a>
                        </div>
                    </div> 
                    <a href="/register">Sign Up</a>
                    <a href="/logout">Log Out</a>
                    <img src="/images/002.png" id="icon" width="80px" height="80px" >
                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                        <i class="fa fa-bars"></i>
                    </a>
            </div>

            {% endblock %}
        
       
        {% block content %}{% endblock %}
        <div id="footer">
            {% block footer %}
                <img src="/images/002.png" width="80px" height="80px" id="logo">
                <div class="aboutUs"> 
                    <h2>About Us: </h2>
                    <p>You did all the hard work and made all the right choices. In fact,<br>
                    you’ve done everything expected of you. Yet you are wondering,<br>
                    “Is this where I really belong?”<br>
                    You’ve done everything right. Now it’s time to do everything<br>
                    right for you and your second, more meaningful career.</p>
                </div>
                <img src="/images/contact.jpg" height="100px" id="address">
                 <a href="#" class="fa fa-maps"></a>
                <div class="contactUs"> 
                    <h2>Contact Us: </h2>
                        <p>21275 Lakeshore Dr, Sainte-Anne-de-Bellevue, Quebec</p>
                        <p>(514) 123-4567</p>
                        <p>home@daycare.ca</p>
                </div>
                <div class="followUs"> 
                    <h2>Follow Us: </h2>
                    <br>
                    <br>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-google"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-youtube"></a>
                        <a href="#" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-pinterest"></a>
                        <a href="#" class="fa fa-snapchat-ghost"></a>
                </div>

            {% endblock %}
        </div>
            <script>
        function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
            }
        }
    </script>
    </body>
</html>