{% extends "master.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
       <h3> No New Messages to Show Right Now !<br> </h3>
    </div>
 
  
{% endblock %}

