{% extends "master.html.twig" %}

{% block title %}Profile view{% endblock %}


{% block content %}
    <div class="my-notify-success">Welcome back <b>{{ userSession.firstName }}</b>! Check your <a href="/parent/profile">PROFILE</a> or <a href="/logout">LOG OUT</a></div>

    <table id="t01">
        <tr>
            <th>Teacher</th>
        </tr>
        <tr>
            <td>Name</td>
            <td>Gender</td>
            <td>Phone</td>
            <td>Address</td>
            <td>Email</td>
            <td>Phone (work)</td>
            <td>Address (work)</td>

        </tr>
        <tr>
            <td>{{ userSession.firstName }} {{ userSession.lastName }}</td>
            <td>{{ userSession.gender }}</td>
            <td>{{ userSession.phoneNo }}</td>
            <td>{{ userSession.address }}</td>
            <td>{{ userSession.email }}</td>
            <td>{{ userSession.workPhone }}</td>
            <td>{{ userSession.workAddress }}</td>

        </tr>
    </table>

{% endblock %}
