{% extends "master.html.twig" %}

{% block title %}Login successful{% endblock %}


{% block content %}

    <div class="my-notify-success">Welcome back <b>{{ userSession.firstName }}</b>! Check your <a href="/parent/profile">PROFILE</a> or <a href="/logout">LOG OUT</a></div>

{% endblock %}

