{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block head %}
 
{% endblock %}

{% block content %}
    {% if errorList %}
        
        {% for error in errorList %}
            <div class="my-notify-error">{{error}}</div>
        {% endfor %}
        
    {% endif %} 
    <div class="container"> 
        
        <form method="post"  id="login-form" class="login-form" autocomplete="on" role="main" enctype="multipart/form-data">

            <h1 class="a11y-hidden">Login Form</h1>
                <div>
                    <label class="label-firstName">
                        <input type="text" class="text" name="firstName"  tabindex="1" required  value="{{ v.firstName }}"/>
                        <span class="required">First Name</span>
                    </label>
                </div>
                 <div>
                    <label class="label-lastName">
                        <input type="text" class="text" name="lastName" tabindex="2" required  value="{{ v.lastName }}"/>
                        <span class="required">Last Name</span>
                    </label>
                </div>
                <div class="question">
                    <label ><span class="required" id="gender">Gender</span></label>
                    <div class="question-answer">
                        
                        <input type="radio" value="male" id="radio_1" name="gender"/>
                        <label for="radio_1" class="radio"><span>Male</span></label>
                        
                        <input  type="radio" value="female" id="radio_2" name="gender"/>
                        <label for="radio_2" class="radio"><span>Female</span></label>
                        
                    </div>
                </div>
                 <div>
                    <label class="label-phoneNo">
                        <input type="text" class="text" name="phoneNo" placeholder="1234567890" tabindex="4" required value="{{ v.phoneNo }}"/>
                        <span class="required">Phone No</span>
                    </label>
                </div>
                 <div>
                    <label class="label-address">
                        <input type="text" class="text" name="address" placeholder="Address" tabindex="5" required value="{{ v.address }}"/>
                        <span class="required">Address</span>
                    </label>
                </div>
                 <div>
                    <label class="label-city">
                        <input type="text" class="text" name="city" placeholder="City" tabindex="6" required value="{{ v.city }}"/>
                        <span class="required">City</span>
                    </label>
                </div>
                 <div>
                    <label class="label-postalCode">
                        <input type="text" class="text" name="postalCode" placeholder=" A1A 1A1" tabindex="7" required value="{{ v.postalCode }}"/>
                        <span class="required">Postal Code</span>
                    </label>
                </div>
                <div class="question">
                    <label ><span class="required" id="role">Your are registering as:</span></label>
                    <div class="question-answer">
                        
                        <input type="radio" value="teacher" id="radio_3" name="role"/>
                        <label for="radio_3" class="radio"><span>Teacher</span></label>
                        
                        <input  type="radio" value="parent" id="radio_4" name="role"/>
                        <label for="radio_4" class="radio"><span>Parent</span></label>
                        
                    </div>
                </div>
                 <div>
                    <label class="label-email">
                        <input type="text" class="text" name="email" placeholder="Email" tabindex="10" required value="{{ v.email }}"/>
                        <span class="required">Email</span>
                    </label>
                </div>
                <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="13" />
                
                <div>
                    <label class="label-password">
                        <input type="password" class="text" name="pass1" placeholder="Password" tabindex="11" required />
                        <span class="required">Password</span>
                    </label>
                </div>
                 <div>
                    <label class="label-password">
                        <input type="password" class="text" name="pass2" placeholder="Password" tabindex="12" required />
                        <span class="required">Confirm Password</span>
                    </label>
                </div>
                <input type="submit" value="REGISTER">

                <figure aria-hidden="true">
                    <div class="person-body"></div>
                    <div class="neck skin"></div>
                    <div class="head skin">
                    <div class="eyes"></div>
                    <div class="mouth"></div>
                    </div>
                    <div class="hair"></div>
                    <div class="ears"></div>
                    <div class="shirt-1"></div>
                    <div class="shirt-2"></div>
                </figure>
                </figure>
           
        </form>
    </div>    
{% endblock %}
