{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

    {% if error %}
    <div class="my-notify-warning"> If your not a teacher, please click on the <a href="/parent" class="links">PARENT</a> tab, else use the valid username and password
      or just <a href="/register" class="links">REGISTER</a>!</div>
    {% endif %}
  <div class="container">
            
    <form method="post"  id="login-form" class="login-form" autocomplete="on" role="main">
      <h1 class="a11y-hidden">Login Form</h1>
      <div>
        <label class="label-email">
          <input type="email" class="text" name="email" placeholder="Email" tabindex="1" required />
          <span class="required">Email</span>
        </label>
      </div>
      <input type="checkbox" name="show-password" class="show-password a11y-hidden" id="show-password" tabindex="3" />
      
      <div>
        <label class="label-password">
          <input type="text" class="text" name="password" placeholder="Password" tabindex="2" required />
          <span class="required">Password</span>
        </label>
      </div>
      <input type="submit" value="Login">

      <figure aria-hidden="true">
        <div class="person-body"></div>
        <div class="neck skin"></div>
        <div class="head skin">
          <div class="eyes"></div>
          <div class="mouth"></div>
        </div>
        <div class="hair"></div>
        <div class="ears"></div>
        <div class="shirt-1"></div>
        <div class="shirt-2"></div>
      </figure>
      </figure>

        </form>
    </div>
{% endblock %}
