{% extends "master.html.twig" %}

{% block title %}Team{% endblock %}

{% block content %}
    <div class="container">
        <b>Teamwork is everything.<b><br>

            <p>When you’re in a classroom with 8 infants and it’s you and another teacher you watch all the kids together.<br>
            If one sees one of the kids about to fall down or roll over onto a toy or something they take care of that baby.<br>
            One might be changing diapers and the other watches the entire class.<br></p>

            <p>In the toddler room on up it’s pretty much the same thing but running, falling, biting, and natural things kids do.<br></p>

            <p>One of the most important things, to me, is that there are TWO people in that classroom,<br>
            TWO people who are watching each other. This way no one hits anyone, no one gets mad at a kid, no one yells, cusses, or anything when they’re tired or stressed out.<br></p>

            <p>Having two teachers in each classroom provides a cushion for a teacher that has had enough of a crying baby or a toddler that won’t stop biting or a 3 year old that had an earache or toothache or is tired because their mom let them stay up too late the night before.<br></p>

            <b>It’s checks and balances.<b>

            <p>This is why, even though I know several owners and love them dearly, I would never take my child to a home child care provider. <br>
            They have no one else in the home to help them. If they go to the bathroom-the kids are technically alone in someone else’s home. <br>
            If they’re cooking lunch, the kids are alone again. If they get a phone call from their doctor, the kids are not being watched.<br></p>

            <p>In a center the director, assistant director, cook, van driver, all come in so teachers can have breaks and can go to the bathroom or take a phone call or go walk around to clear their head.<br></p>

            <p>Having two teachers in the classroom will also help when one teacher might be too close to a situation.<br>
            For instance, a crying baby. The one that is taking care of that baby that day might be so stressed out from the constant crying that they don’t notice the baby is pulling their ear but the other teacher is calm and notices that baby.<br>
            So then the mom is called and told her baby seems to be pulling their ear and has started crying. Mom comes to get baby and takes baby to doc, baby has an ear infection and gets meds, because two teachers were in the baby room and backed each other up with watching and managing that classroom.<br></p>

            Together, teamwork.
    </div>

 
    
{% endblock %}
